
  aside h2{
    font-size: medium;
    color: white !important;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 0;
  }
  
  aside h1{
      font-size: medium;
      color: white !important;  
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



  